.item-count-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px;
    max-width: 270px;
}

.customization-section {
    margin-bottom: 10px; /* Aumenta el espacio entre la sección de personalización y el resto del contenido */
}

.customization-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.customization-form div {
    margin-bottom: 20px; /* Aumenta el espacio entre los elementos de personalización */
}

.customization-form label {
    margin-right: 10px;
    font-size: 1.2rem; /* Aumenta el tamaño de la letra */
}

.customization-form select,
.customization-form input[type="checkbox"] {
    margin-right: 10px;
    font-size: 1.2rem; /* Aumenta el tamaño de la letra */
}

.price-description {
    margin-bottom: 10px; /* Ajusta el espacio entre el precio/descripción y la personalización */
    font-size: 1.4rem; /* Aumenta el tamaño de la letra */
}

.count-container {
    border: 1px solid #dfe1e5;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 7px;
    width: 100px;
    margin-bottom: 10px;
}

.count-container:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0);
}

.count-container__number {
    font-size: 1.6rem;
}

.add-cart {
    border-radius: 10px;
    background-color: var(--primary-green);
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.add-cart--detail-page {
    width: 130px;
}

.add-cart:hover {
    transition: all ease-in 100ms;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.add-cart:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}